<div class="content-wrapper">
  <h1>My Writings</h1>
  <div class="content">
    <p>I don't write as often as I'd like to, however, I also like to keep an archive of my writings up. There's no gold here, but feel free to browse as you wish.</p>
    <ul class="articles">
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, article_path(article.slug), class: "underlined" %> 
          <time class="code"><%= article.published_at.strftime('%B %e, %Y') %></time>
        </li>
      <% end %>
    </ul>
  </div>
</div>