<div class="content-wrapper">
  <h1>About Me</h1>
  <div class="content">
    <%= image_tag("mekid.png", alt: 'Me as a Kid', class: 'kid-photo') %>
    <p><pre>const { 🤷‍♂️ } = 💻</pre></p>
    <p>I'm an internet, crypto, web x.0 geek based in Atlanta. You can usually find me creating Slack emojis at <a href="https://newstorycharity.org/" target="_blank">New Story</a>, a housing non-profit that is pioneering solutions to end global homelessness. We are best known for helping build the world's first <a href="https://l.timw.co/3dfirst" target="_blank">3D-printed Community</a>. Apple even filmed a <a href="https://tv.apple.com/us/episode/mexico/umc.cmc.vw8qwc1j4ld8jr3itsc0b3wy" target="_blank">documentary</a> about it. You should check us out, and consider <a href="https://donate.newstorycharity.org/" target="_blank">donating</a>.</p>

    <p>Outside of that, I run a <a href="https://77lines.xyz" target="_blank">small agency</a>, where I invest in and help startups at various stages. In 2021, I co-authored <a href="https://codeschoolbook.com/" target="_blank">Code School Book</a>, a guide to help coding bootcamp students transition into tech. Oh, and I run <a href="https://beardshine.co/" target="_blank">Beard Shine</a>, a beard oil company. To date, I've created <b><%= @projects_count %></b> projects with <b><%= @acquired_count %></b> having been acquired. You can keep up with all my projects <a href="/projects">here</a>.</p>

    <p>In a past life, I helped launch the Atlanta location of <a href="https://linkedin.com/school/the-iron-yard/" target="_blank">The Iron Yard</a>, the (at the time) largest code school in the world. I also helped build a WordPress competitor called <a href="https://l.timw.co/2BEcXXg" target="_blank">Barley</a>.</p>
      
    <p>If you are interested in working together, have a cool idea or need a printer plugged in, hop in my DM's <a href="mailto:tim@77lines.xyz" target="_blank">here</a>.</p>
  </div>
</div>