<div class="content-wrapper">
  <h1>About Me</h1>
  <div class="content">
    <%= image_tag("mekid.png", alt: 'Me as a Kid', class: 'kid-photo') %>
    <p><pre>const { 🤷‍♂️ } = 💻</pre></p>
    <p>I'm an entrepreneur & software engineer based in <s>Atlanta</s> Kansas City. Currently, I'm building <a href="https://hopeware.com" target="_blank">Hopeware</a> to help organizations increase their technology effectiveness. Before that, I led technology at <a href="https://newstoryhomes.org" target="_blank">New Story</a>, a housing non-profit best known for building the world's first <a href="https://l.timw.co/3dfirst" target="_blank">3D-printed Community</a>. Apple even filmed a <a href="https://tv.apple.com/us/episode/mexico/umc.cmc.vw8qwc1j4ld8jr3itsc0b3wy" target="_blank">documentary</a> about us. You should check it out.</p>

    <p>Outside of that, I run <a href="https://sunsetlabs.io" target="_blank">Sunset Labs</a>, where I invest in and help startups at various stages. In 2021, I co-authored <a href="/book" target="_blank">Code School Book</a>, a guide to help coding bootcamp students transition into tech. I also run <a href="https://beardshine.co/" target="_blank">Beard Shine</a>, a beard oil company, because, why not?</p>
    
    <p>I love ideating and building. To date, I've created <b><%= @projects_count %></b> projects with <b><%= @acquired_count %></b> having been acquired. You can keep up with all my projects <a href="/projects">here</a>.</p>

    <p>In a past life, I helped launch and taught at <a href="https://linkedin.com/school/the-iron-yard/" target="_blank">The Iron Yard</a>, the (at the time) largest code school in the world. I also helped build a WordPress competitor called <a href="https://l.timw.co/2BEcXXg" target="_blank">Barley</a>, that sadly fizzled away into nothingness alongside Google Wave.</p>
      
    <p>If you are interested in working together, have a cool idea or need a printer plugged in, hop in my DM's <a href="mailto:tim@sunsetlabs.io" target="_blank">here</a>.</p>
  </div>
</div>
