<div class="content-wrapper">
  <h1>About Me</h1>
  <div class="content">
    <%= image_tag("mekid.png", alt: 'Me as a Kid', class: 'kid-photo') %>
    <p>I'm a software engineer turned entrepreneur based in Atlanta. I spend most of my time as the Engineering Manager at <a class="underlined" href="https://newstorycharity.org/" target="_blank">New Story</a>, a housing non-profit that is pioneering solutions to end global homelessness. Earlier this year, we completed some of the first homes in the world's first <a class="underlined" href="https://l.timw.co/3dfirst" target="_blank">3D-printed Community</a>, Apple even filmed a <a class="underlined" href="https://tv.apple.com/us/episode/mexico/umc.cmc.vw8qwc1j4ld8jr3itsc0b3wy" target="_blank">documentary</a> about it. More recently, we've switched gears to <a class="underlined" href="https://newstorycharity.org/the-neighborhood/" target="_blank">help local families</a> pay rent and stay safe in their homes.</p>

    <p>Outside of that, I run a small agency called <a class="underlined" href="https://77lines.xyz" target="_blank">77 Lines</a>, where I invest in and help develop web and mobile applications. I've also run a successful wholesale beard oil company, <a class="underlined" href="https://beardshine.co/" target="_blank">Beard Shine</a>, for the past five years.</p>

    <p>Previously, I helped launch the Atlanta location of <a class="underlined" href="https://linkedin.com/school/the-iron-yard/" target="_blank">The Iron Yard</a>, the (at the time) largest code school in the world. I helped build a WordPress competitor called <a class="underlined" href="https://l.timw.co/2BEcXXg" target="_blank">Barley</a> and worked with produce brokers to build out a database of <a class="underlined" href="https://db.producebrands.com/" target="_blank">trackable produce brands.</a></p>
      
    <p>If you are interested in working together, please contact me <a class="underlined" href="https://77lines.xyz" target="_blank">here</a>.</p>
  </div>
</div>