<div class="content-wrapper">
  <h1>Code School</h1>
  <div class="content">
    <a href="https://www.amazon.com/Code-School-Overcome-Syndrome-Kick-Start/dp/1736080709/?ref=timwco" target="_blank"><%= image_tag("codeschool.png", alt: 'Code School', class: 'kid-photo') %></a>
    <h3>Overcome Imposter Syndrome. Kick-Start Your Tech Career.</h3>

    <p>After years of teaching code school students and desiginig curriculum, I teamed up with a <a href="https://www.morganjlopes.com/books/code-school/" target="_blank">friend</a> to write a book and help people navigate the code school journey. Consider this book your map. </p>
    
    <p><b>Some of the topics covered:</b></p>
    <ul>
      <li>How to Overcome Imposter Syndrome</li>
      <li>Habits and Rituals of a Successful Engineer</li>
      <li>Navigating Code School Courses</li>
      <li>Ways to Successfully Network</li>
      <li>Inteview Tips & Job Hunting</li>
      <li>Life as a Developer</li>
    </ul>

    <p>It's available on <a href="https://www.amazon.com/Code-School-Overcome-Syndrome-Kick-Start/dp/1736080709/?ref=timwco" target="_blank">Amazon</a> and <a href="https://www.amazon.com/Code-School-Overcome-Syndrome-Kick-Start-ebook/dp/B09DQ6QFFX/?ref=timw.co" target="_blank">Kindle</a>.</p>

  </div>
</div>