      <div class="content-wrapper">
        <div class="content">
          <%= image_tag("mekid.png", alt: 'Me as a Kid', class: 'kid-photo-error') %>
          <h1>500: Server Error</h1>
          <p>Oops! A mistake was made! <a href="/">Click here</a> to start over!</p>
        </div>
      </div>